.ui.link.list{
    padding-left:15px!important;
    button{
        border:none;
        // color:black;
        background-color: transparent;
    }

    button.active{
        color: black!important;;
    }
}


@media screen and (max-width:992px) {
    .ui.link.list {
    
        button {
           text-align: left;
        }
    }
    
}