.home-wrapper {
    width: 100%;
    min-height: calc(85vh - 90px);
    background-color: azure;
    padding: 50px;
    text-align: left;

    #searchbar {
        text-align: right;
    }

}

@media only screen and(max-width: 991px) {
    #searchbar {
        margin-left:1vw;
    }
}